[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
langchain-openai = "*"
langchain-core = "*"
langgraph = "*"
python-dotenv = "*"
easydict = "*"
nokinoki-test111 = {version = "==0.1.2", index = "testpypi"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
